@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
button {
  border: none;
  cursor: pointer;
}
/*---h1---*/
/* h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: clamp(32px, 5vw, 60px);
  letter-spacing: -0.07rem;
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
} */
/* h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -0.05rem;
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
} */
/* h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 25.2px;
  letter-spacing: -0.02rem;
  color: #161616;
} */
/* h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22.4px;
  letter-spacing: -0.02rem;
  color: #161616;
} */
/* h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.04rem;
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
} */

/* p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: -0.02rem;
} */
.n-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: clamp(16px, 5vw, 18px);
  line-height: 18px;
  color: #ffffff;
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}
.n-inner-button {
  width: 310px;
  height: 60px;
}
.n-page {
  font-family: "Montserrat", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  margin: 0 auto;
}
.n-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-left: 120px;
  padding-right: 120px;
  box-sizing: border-box;
}
@media (max-width: 1400px) {
  .n-container {
    padding-left: 75px;
    padding-right: 75px;
    box-sizing: border-box;
  }
}
@media (max-width: 1240px) {
  .n-container {
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
  }
}
/*---n-promo---*/
.n-promo {
  width: 100%;
  display: flex;
  background: #f8f9fb;
}
.n-promo__wrapper {
  display: flex;
  padding-top: 66px;
  padding-bottom: 84px;
  position: relative;
}
.n-promo__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.n-promo__inner-mobile-img {
  display: none;
}
.n-promo__inner-img {
  position: absolute;
  right: 0;
  top: 77px;
  max-width: 50%;
}
.n-promo__inner-img img {
  width: 100%;
}
.n-promo__inner h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: clamp(32px, 5vw, 60px);
  letter-spacing: -0.07rem;
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.n-promo__inner-text {
  max-width: 502px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: clamp(14px, 5vw, 15px);
  line-height: 21px;
  letter-spacing: -0.02rem;
  margin-top: 20px;
  margin-bottom: 35px;
}
.n-promo__item-box {
  display: flex;
  gap: 75px;
  margin-top: 35px;
}
.n-promo__item {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  gap: 5px;
}
.n-promo__item-centr {
  width: 206px;
  height: 151px;
  border-radius: 8px;
  justify-content: center;
  box-shadow: 0px 4px 20px 0px #0000001a;
  margin-top: 0;
  padding-left: 40px;
  box-sizing: border-box;
}
.n-promo__item h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: clamp(32px, 5vw, 40px);
  letter-spacing: -0.05rem;
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.n-promo__item p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: clamp(14px, 5vw, 15px);
  line-height: 15px;
  letter-spacing: -0.02rem;
}
/*---n-advantages---*/
.n-advantages {
  background: #ffffff;
}
.n-advantages__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  padding-bottom: 80px;
  gap: 73px;
}
.n-advantages__top {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.n-advantages__top h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: clamp(32px, 5vw, 40px);
  letter-spacing: -0.05rem;
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.n-advantages__top h3 {
  max-width: 563px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: clamp(16px, 5vw, 18px);
  line-height: 25.2px;
  letter-spacing: -0.02rem;
  color: #161616;
}
.n-advantages__inner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 93px;
  row-gap: 21px;
}
.n-advantages__item {
  display: flex;
  flex-direction: column;
}
.n-advantages__item-top {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 22px;
}
.n-advantages__item-top h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: clamp(15px, 5vw, 16px);
  line-height: 22.4px;
  letter-spacing: -0.02rem;
  color: #161616;
}
.n-advantages__item-icon {
  display: block;
  width: 79px;
  height: 79px;
  border-radius: 8px;
  box-shadow: 0px 4px 20px 0px #0000001a;
}

.n-advantages__item-icon img {
  border-radius: inherit;
  width: 100%;
}
.n-advantages__item p {
  max-width: 418px;
  width: 100%;
  margin-left: 108px;
  position: relative;
  top: -15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: -0.02rem;
}
/*---n-support---*/
.n-support {
  width: 100%;
  display: flex;
  background: linear-gradient(93.3deg, #5c4eaa 9.35%, #ae3e78 95%);
}
.n-support__wrapper {
  padding-top: 90px;
  padding-bottom: 97px;
  display: flex;
  flex-direction: column;
}
.n-support__wrapper h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -0.05rem;
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.n-support__title {
  max-width: 788px;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7px;
  margin-left: auto;
  background: #ffffff;
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
.n-title-white {
  color: #ffffff !important;
}
.n-support__item {
  width: 100%;
  display: flex;
  margin-top: 25px;
}

.n-support__ic {
  display: flex;
  gap: 20px;
  margin-right: 20px;
}
.n-support__ic img {
  width: 94px;
  height: 56px;
}
hr {
  width: 278px;
  margin-top: auto;
  border: 1px solid #ffffff;
}
.n-support__item p {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: -0.02rem;
  max-width: 473px;
  width: 100%;
  color: #ffffff;
}

.n-support__button {
  width: 270px;
  height: 60px;
  background: #ffffff;
  cursor: pointer;
  margin-left: auto;
}
.n-support__button span {
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
}
/*---n-quick---*/
.n-quick {
  width: 100%;
  display: flex;
}
.n-quick__wrapper {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
}
.n-quick__top {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}
.n-quick__item {
  max-height: 133px;
  position: relative;
  max-width: 580px;
  width: 100%;
  border-radius: 8px;
  border: 2px solid #f7f7f7;
  padding: 40px 50px 40px 103px;
  box-sizing: border-box;
}
.n-quick__item p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: -0.02rem;
}
.n-quick__icon {
  width: 63px;
  height: 63px;
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
  border-radius: 8px 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.n-quick__bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-top: 47px;
}
.n-quick__bottom h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.04rem;
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.n-quick__bottom h5 span {
  color: #161616;
}
.n-quick__bottom button {
  margin: 0;
}
/*---maintenance---*/
.n-maintenance {
  width: 100%;
  display: flex;
  background: #f8f9fb;
}
.n-maintenance__wrapper {
  padding-top: 90px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
}
.n-maintenance__top {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 10px;
}
.n-maintenance__top h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -0.05rem;
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.n-maintenance__top a {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: -0.02rem;
  color: #000000b2;
  text-decoration: underline;
}
.n-maintenance__inner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin-top: 70px;
}
.n-maintenance__item {
  max-width: 373px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0px 4px 20px 0px #0000000d;
}
.n-maintenance__item-title {
  width: 100%;
  height: 93px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
}
.n-maintenance__item-title h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 25.2px;
  letter-spacing: -0.02rem;
  color: #161616;
  text-transform: uppercase;
}
.n-maintenance__item-inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #f8f9fb;
  padding: 36px 63px 40px 63px;
  box-sizing: border-box;
  gap: 35px;
}
.n-maintenance__item-list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.n-maintenance__item-text {
  display: flex;
  gap: 8px;
  align-items: flex-start;
}
.n-maintenance__item-text p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: -0.02rem;
}
.n-maintenance__item-box {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.n-maintenance__item-box h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 22.4px;
  letter-spacing: -0.02rem;
  color: #161616;
}
.item-list-wrap {
  gap: 13px;
}
.n-maintenance__image {
  margin-top: 12px;
}
.n-maintenance__price {
  width: 100%;
  height: 93px;
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 33.6px;
  letter-spacing: -0.04rem;
  border-radius: 0 0 8px 8px;
  margin-top: auto;
}
.n-maintenance__choice {
  width: 100%;
  display: flex;
  gap: 54px;
  margin-top: 67px;
}
.n-maintenance__choice-item {
  max-width: 672px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.n-maintenance__choice-item h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 48px;
  letter-spacing: -0.04rem;
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  color: #161616;
}
.n-maintenance__choice-item span {
  max-width: 569px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 33.6px;
  letter-spacing: -0.03rem;
  margin-left: auto;
}
.n-maintenance__choice-item button {
  margin-top: 12px;
}
.n-maintenance__expert {
  max-width: 426px;
  width: 100%;
  display: flex;
  gap: 20px;
  position: relative;
  margin-top: 29px;
}
.n-maintenance__expert-img {
  width: 115px;
  height: 97.8px;
}
.n-maintenance__expert-icon {
  width: 44px;
  height: 44px;
  position: absolute;
  top: 13px;
  right: 9px;
  box-shadow: 0px 10px 20px 0px #0000001a;
}
.n-maintenance__expert-list {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 7px;
}
.n-maintenance__expert-list h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d2d2d;
  text-transform: uppercase;
}
.n-maintenance__expert-list p {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.6px;
  color: #2d2d2d;
}
.n-maintenance__expert-list span {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 21.6px;
  color: #2d2d2de5;
}
/*---n-service---*/
.n-service {
  width: 100%;
  display: flex;
}
.n-service__wrapper {
  padding-top: 90px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.n-service__wrapper h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -0.05rem;
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.n-service__inner {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.n-service__item {
  width: 100%;
  display: flex;
  align-items: center;
  border-radius: 8px;
}
.n-service__item-num {
  width: 63px;
  height: 63px;
  border-radius: 8px;
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.n-service__item-left {
  max-width: 413px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
}
.n-service__item-left h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.02rem;
  color: #161616;
}
.n-service__item-desc {
  max-width: 787px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 19.6px;
  color: #000000e5;
}
.n-service__item_gray {
  background: #f7f7f7;
}
/*---n-company---*/
.n-company {
  width: 100%;
  display: flex;
  background: #f8f9fb;
}
.n-company__wrapper {
  padding-top: 102px;
  padding-bottom: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.n-company__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.n-company__text h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -0.05rem;
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.n-company__text-desc {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25.2px;
  letter-spacing: -0.02rem;
  color: #161616cc;
  max-width: 560px;
  width: 100%;
}
.n-company__image {
  width: 580px;
  height: 256px;
  border-radius: 8px;
  margin-top: 14px;
  position: relative;
}
.u-soft {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 91px;
  height: 32px;
  border-radius: 0px 6px 0px 6px;
  background: #f8f9fb;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*---n-stories---*/
.n-stories {
  width: 100%;
  display: flex;
}
.n-stories__wrapper {
  padding-top: 90px;
  padding-bottom: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.n-stories__wrapper h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -0.05rem;
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.n-stories__inner {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin-top: 70px;
}
.n-stories__item {
  max-width: 373px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 25px 40px 25px;
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 0px 4px 20px 0px #0000000d;
}
.n-stories__top {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 24px;
}
.n-stories__top-image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
}
.n-stories__top-text {
  display: flex;
  flex-direction: column;
}
.n-stories__top-text h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 25.2px;
  letter-spacing: -0.02rem;
  color: #161616;
}
.n-stories__top-text p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: -0.02rem;
  color: #000000b2;
}
.n-stories__centr {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 2px solid #f8f9fb;
  border-bottom: 2px solid #f8f9fb;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 15px;
}
.n-stories__centr-item {
  display: flex;
  flex-direction: column;
}
.n-stories__centr-item h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 22.4px;
  letter-spacing: -0.02rem;
  color: #161616;
}
.n-stories__centr-item p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.02rem;
  color: #000000b2;
}
.n-stories__paragraph {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: -0.02rem;
  color: #000000b2;
  margin-top: 20px;
}
.n-stories__paragraph img {
  width: 23px;
  height: 16px;
}
.n-stories__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.n-stories__bottom h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 25.2px;
  letter-spacing: -0.02rem;
  color: #2e4efe;
}
.n-button-1 {
  width: 247px;
  height: 53px;
  margin-top: 9px;
}
.n-button-2 {
  width: 247px;
  height: 53px;
  margin-top: 0;
}
.n-stories__first {
  margin-top: 40px;
}
.n-stories__last {
  margin-top: 65px;
}
/*---n-team---*/
.n-team {
  width: 100%;
  display: flex;
  background: #f8f9fb;
}
.n-team__wrapper {
  padding-top: 90px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.n-team__wrapper h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -0.05rem;
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
}
.n-team__inner {
  width: 100%;
  margin-top: 44px;
}
.n-team__item-box {
  width: 100%;
  display: flex;
  gap: 40px;
}
.n-team__item {
  max-width: 270px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.n-team__image {
  display: flex;
  width: 100%;
  height: 250px;
}
.n-team__image-3 {
  padding-left: 48px;
}
.n-team__foto {
  margin: auto auto 0;
  background: url(../images/n-team-back.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 186px 184px;
}
.n-team__foto-centr {
  background-position: bottom;
}

.n-team__item-text {
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  border-top: 2px solid #2e4efe;
  text-align: center;
}
.n-team__item-text h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 25.2px;
  letter-spacing: -0.02rem;
  color: #161616;
}
.n-team__item-text p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  letter-spacing: -0.02rem;
}
/*---n-clients---*/
.n-clients {
  width: 100%;
  display: flex;
}
.n-clients__wrapper {
  padding-top: 90px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
}
.n-clients__wrapper h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: -0.05rem;
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
}
/*---swiper ---*/
.swiper {
  width: 1200px;
  height: 110px;
}
.n-clients-prev,
.n-clients-next {
  width: 24px !important;
  height: 24px !important;
  border-radius: 50% !important;
  background: #525fff !important;
}
.n-clients-prev::after,
.n-clients-next:after {
  color: #ffffff;
  font-size: 12px;
}
/*---адартив---*/
@media (max-width: 1296px) {
  .n-advantages__inner {
    column-gap: 20px;
    justify-content: space-between;
  }
}
@media (max-width: 1079px) {
  .n-promo__inner-img {
    width: 400px;
    height: 310px;
  }
}
@media (max-width: 950px) {
  .n-promo__inner-img {
    width: 319.96px;
    height: 244.95px;
  }
  .n-promo__item-box {
    justify-content: center;
  }
}
@media (max-width: 870px) {
  .n-promo__inner-img {
    display: none;
  }
  .n-promo__wrapper {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .n-promo__inner {
    align-items: center;
  }
  .n-promo__item-centr {
    padding: 0;
    align-items: center;
  }
  .n-promo__item {
    text-align: center;
  }
  .n-inner-button {
    width: 276px;
    height: 47px;
  }
}
/*---адартив promo---*/
@media (max-width: 768px) {
  .n-promo__item-box {
    width: 100%;
    flex-wrap: wrap;
    row-gap: 40px;
  }
  .n-promo__item {
    width: fit-content;
  }
  .n-promo__item-centr {
    order: 3;
    width: 100%;
    height: 112px;
  }
  .n-promo__wrapper {
    padding-top: 30px;
  }
  .n-promo__inner h1 {
    letter-spacing: -0.04rem;
  }
  .n-promo__inner-text {
    margin-top: 12px;
    text-align: -webkit-center;
    font-size: 14px;
    line-height: 19.6px;
  }
  .n-promo__inner-text {
    margin-bottom: 22px;
  }
  .n-button {
    font-size: 16px;
    letter-spacing: -0.02rem;
  }
}
@media (max-width: 600px) {
  .n-promo__inner-text {
    max-width: 343px;
  }
  .n-promo__inner-mobile-img {
    display: block;
    width: 350px;
    height: 263.48px;
    margin-top: 37px;
  }
  .n-promo__inner-mobile-img img {
    width: 100%;
  }
  .n-promo__item {
    margin-top: 0;
  }
  .n-promo__item p {
    font-size: 14px;
    line-height: 14px;
  }
  .n-promo__item h2 {
    letter-spacing: -0.02rem;
  }
  .n-promo__item-box {
    column-gap: 63px;
    row-gap: 20px;
  }
}
/*---адартив---*/
@media (max-width: 1120px) {
  .n-advantages__item-icon {
    width: 54px;
    height: 54px;
  }
  .n-advantages__item p {
    position: inherit;
    margin-top: 24px;
    margin-left: 0;
  }
  .n-advantages__item-top h4 {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    max-width: 300px;
  }
  .n-advantages__top {
    align-items: center;
  }
  .n-advantages__inner {
    justify-content: center;
  }
  .n-advantages__wrapper {
    gap: 60px;
  }
}
@media (max-width: 895px) {
  .n-advantages__item-top h4 {
    max-width: 234px;
  }
  .n-advantages__item p {
    max-width: 341px;
  }
}
@media (max-width: 870px) {
  .n-advantages__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .n-support__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .n-quick__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .n-maintenance__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .n-service__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .n-company__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .n-stories__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .n-team__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .n-clients__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 600px) {
  .n-advantages__top h2 {
    font-size: 32px;
    line-height: 32px;
  }
  .n-advantages__top h3 {
    font-size: 16px;
    line-height: 22.4px;
  }
  .n-advantages__item-top h4 {
    letter-spacing: -0.02rem;
  }
  .n-advantages__top {
    gap: 15px;
  }
  .n-advantages__wrapper {
    gap: 35px;
  }
  .n-advantages__item-top {
    gap: 19px;
  }
  .n-advantages__item p {
    font-size: 14px;
    line-height: 19.6px;
    letter-spacing: -0rem;
    margin-top: 20px;
    max-width: 100%;
  }
  .n-advantages__inner {
    row-gap: 37px;
  }
  .item-icon-letter p {
    letter-spacing: -0.01rem;
  }
}
