.n-promo__wrapper-two {
  padding-bottom: 109px;
}
.n-promo__inner-text-two {
  max-width: 460px;
  margin-bottom: 56px;
}
.n-promo__inner-img-two {
  top: 44px;
}
.n-inner-button-item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.n-inner-button-two {
  width: 270px;
}
.n-button-two {
  width: 207px;
  height: 60px;
  border: 1px solid #3aa1ff;
  background: #f8f9fb;
}
.n-button-two span {
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
}
.n-promo__item-box-two {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 30px;
}
.n-promo__item-two {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.n-promo__item-image {
  width: fit-content;
  height: 61px;
}
/*---адаптив n-promo---*/
@media (max-width: 870px) {
  .n-promo__wrapper-two {
    padding-bottom: 60px;
  }
  .n-button-two {
    height: 47px;
  }
  .n-promo__item-box-two {
    margin-top: 56px;
    justify-content: center;
  }
  .n-promo__item-two {
    align-items: center;
  }
}
@media (max-width: 767px) {
  .n-promo__item-box-two {
    flex-direction: column;
    gap: 24px;
    align-items: flex-start;
  }
  .n-promo__item-two {
    flex-direction: row;
    gap: 26px;
  }
}
@media (max-width: 600px) {
  .n-promo__item-two {
    width: 100%;
    align-items: center;
  }
  .n-inner-button-item {
    flex-direction: column;
  }
  .n-inner-button-item {
    width: 276px;
  }
  .n-inner-button-item button {
    width: 100%;
  }
  .n-promo__item-box-two {
    width: 100%;
  }
  .n-promo__inner-text-two {
    margin-bottom: 21px;
  }
  .n-inner-button-item {
    gap: 16px;
  }
  .n-promo__inner-mobile-img-two {
    margin-top: 20px;
  }
  .n-promo__item-image {
    width: 50px;
    height: 50px;
  }
  .n-promo__item-image img {
    width: 100%;
  }
  .n-promo__item-box-two {
    margin-top: 40px;
  }
  .n-promo__item-box-two {
    gap: 27px;
  }
  .n-promo__wrapper-two {
    padding-bottom: 48px;
  }
}
/*---n-program---*/
.n-program {
  width: 100%;
  display: flex;
}
.n-program__wrapper {
  padding-top: 86px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
}
.n-program__top {
  display: flex;
  gap: 28px;
}
.n-program__top-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: auto;
}
.n-program__button {
  width: 270px;
  height: 50px;
}
.n-program__top h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: clamp(32px, 5vw, 40px);
  letter-spacing: -0.05rem;
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.n-program__top p {
  max-width: 813px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  margin-top: 74px;
}
.n-program__centr {
  width: 100%;
  display: flex;
  gap: 60px;
  margin-top: 28px;
}
.n-program__centr-text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.n-program__centr-text h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: clamp(20px, 5vw, 24px);
  line-height: 33.6px;
  letter-spacing: -0.03rem;
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  white-space: nowrap;
}
.n-program__centr-text p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: clamp(14px, 5vw, 15px);
  line-height: 21px;
  letter-spacing: -0.01rem;
  max-width: 559px;
}
.n-program__centr-img {
  width: 512.67px;
  height: 93.1px;
  margin-top: auto;
}
.n-program__centr-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.n-program__list {
  width: 100%;
  display: flex;
  gap: 40px;
  margin-top: 57px;
}
.n-program__list-box {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.n-program__list-item {
  display: flex;
  flex-direction: column;
}
.n-program__item-left {
  width: fit-content;
}
.n-program__item {
  gap: 40px;
  flex-direction: row;
}
.n-program__item-desc {
  max-width: 83%;
}
@media (max-width: 1150px) {
  .n-program__item-desc {
    line-height: 16.8px;
  }
  .n-program__item {
    gap: 20px;
  }
  .n-program__list {
    gap: 20px;
  }
  .n-program__top {
    flex-direction: column;
  }
  .n-program__top p {
    margin-top: 0;
  }
}
@media (max-width: 1080px) {
  .n-program__centr {
    gap: 30px;
  }
}
@media (max-width: 950px) {
  .n-program__list {
    flex-direction: column;
  }
  .n-program__list-box {
    width: 100%;
  }
  .n-program__item {
    align-items: center;
  }
}
@media (max-width: 870px) {
  .n-program__wrapper {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .n-program__centr-img {
    display: none;
  }
  .n-program__centr-text p {
    max-width: 100%;
  }
}
@media (max-width: 600px) {
  .n-program__top {
    gap: 24px;
  }
  .n-program__wrapper {
    padding-top: 52px;
  }
  .n-program__top-item {
    gap: 32px;
  }
  .n-program__button {
    width: 276px;
    height: 47px;
  }
  .n-program__top p {
    font-size: 14px;
    line-height: 19.6px;
  }
  .n-program__centr-text p {
    font-size: 14px;
    line-height: 19.6px;
  }
  .n-program__list {
    margin-top: 40px;
  }
  .n-program__list {
    gap: 16px;
  }
  .n-program__item-desc {
    width: 100%;
  }
}
/*---n-support__wrapper-two---*/
.n-support__wrapper-two {
  padding-top: 88px;
}
.n-support__wrapper-two h2 {
  font-size: clamp(28px, 5vw, 38px);
}
.n-title-blue {
  display: inline-flex;
  align-items: center;
  justify-self: center;
  width: 222px;
  height: 55px;
  border-radius: 8px;
  box-sizing: border-box;
  background: #ffffff;
}
.n-support__item-two {
  margin-top: 41px;
}
.button-m-v {
  display: none;
}
@media (max-width: 768px) {
  .n-title-blue {
    width: fit-content;
    height: fit-content;
    border-radius: 6px;
    margin-bottom: 10px;
    padding: 2px;
  }
}
@media (max-width: 600px) {
  .n-support__wrapper-two h2 {
    font-size: 28px;
    letter-spacing: -0.08rem !important;
  }
  .n-program__wrapper {
    padding-bottom: 54px;
  }
  .n-support__wrapper-two {
    padding-top: 55px;
  }
  .n-title-blue {
    margin-bottom: -2px;
  }
  .n-support__item-two {
    margin-top: 0px;
  }
  .n-support__wrapper-two {
    gap: 16px;
  }
  .button-m-h {
    display: none;
  }
  .button-m-v {
    display: flex;
  }
}
/*---item-icon-two---*/
.item-icon-two {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-icon-two img {
  width: 45px;
  height: 45px;
}
@media (max-width: 1120px) {
  .item-icon-two img {
    width: 33px;
    height: 33px;
  }
}
/*---n-version---*/
.n-version {
  width: 100%;
  display: flex;
  background: #f8f9fb;
}
.n-version__wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 86px;
  padding-bottom: 100px;
}
.n-version__wrapper h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: clamp(32px, 5vw, 40px);
  letter-spacing: -0.05rem;
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/***************/
table {
  width: 1200px;
  border-collapse: collapse;
  margin-top: 68px;
}

th,
td {
  width: 140px;
  height: 60px;
  text-align: center;
}
th:first-child,
td:first-child {
  width: 501px;
}
tr th {
  border-bottom: 2px solid #39a5ff;
}
tr th:not(:first-of-type) {
  border-left: 1px solid #39a5ff;
}
tr td:not(:first-of-type) {
  border-left: 1px solid #39a5ff;
}
table tr:nth-child(odd) {
  background: #ffffff;
}
tr tr:nth-child(2) {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 25.2px;
  letter-spacing: -0.04rem;
}
.n-table-title {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: -0.01rem;
}
.n-table-title span:nth-child(1) {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: -0.01rem;
}
tr td {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: clamp(14px, 5vw, 15px);
  line-height: 21px;
  letter-spacing: -0.01rem;
  color: #000000e5;
}
tr td p {
  text-align: start;
  padding-left: 63px;
  padding-right: 20px;
  box-sizing: border-box;
}
.n-icon-available {
  width: 32px;
  height: 32px;
  display: inline-block;
  background: url(../icons/n-td.png) no-repeat center;
  background-size: contain;
}
.n-icon-not-available {
  width: 32px;
  height: 32px;
  display: inline-block;
  background: url(../icons/n-td-not.png) no-repeat center;
  background-size: contain;
}
.n-tr-price {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 25.2px;
  letter-spacing: -0.04rem;
}
/* .n-head {
  border-bottom: 2px solid #39a5ff;
}
.n-bott {
  border-top: 2px solid #39a5ff;
}
th:first-child,
td:first-child {
  width: 501px;
}
.n-version__title,
.n-version__title p {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: clamp(15px, 5vw, 18px);
  line-height: 25.2px;
  letter-spacing: -0.02rem;
}
.n-border-left {
  border-left: 1px solid #39a5ff;
}
.n-icon-available {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(../icons/n-td.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.n-icon-availablenot {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(../icons/n-td-not.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.n-white {
  background: #ffffff;
}
.n-version__title-item {
  display: inline-flex;
  flex-direction: column;
}
.n-version__title span {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 10px;
  line-height: 10px;
  letter-spacing: -0.01rem;
}
.n-version__subtitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: clamp(14px, 5vw, 15px);
  line-height: 21px;
  letter-spacing: -0.01rem;
  box-sizing: border-box;
  color: #000000e5;
}
.n-version__subtitle-two {
  line-height: 18px;
}
.n-centr-subtitle {
  text-align: start;
  padding-left: 63px;
  box-sizing: border-box;
}
.n-tn-btn {
  width: 123px;
  height: 40px;
  border-radius: 4px;
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  color: #ffffff;
  letter-spacing: -0.02rem;
  margin-top: 10px;
}

.n-btn-white {
  border: 1px solid #3aa1ff;
  background: #ffffff;
}
.n-btn-white span {
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
} */
/*---n-company---*/
.n-company__container {
  display: flex;
  flex-direction: column;
  gap: 54px;
  padding-top: 102px;
  padding-bottom: 100px;
}
.n-company__bottom {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 75px;
}
.n-company__bottom-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.n-company__bottom-item h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: clamp(32px, 5vw, 40px);
  letter-spacing: -0.05rem;
  background: linear-gradient(90deg, #545aff 0%, #38a7ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.n-company__bottom-item p {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: clamp(14px, 5vw, 15px);
  line-height: 15px;
  letter-spacing: -0.02rem;
}
.n-company__bottom-centr {
  width: 206px;
  height: 151px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  box-shadow: 0px 4px 20px 0px #0000001a;
  padding-left: 24px;
  box-sizing: border-box;
}
.n-program-two {
  margin-top: 0;
  margin-left: auto;
}
.n-company__wrapper-two {
  padding-bottom: 0;
  padding-top: 0;
}
@media (max-width: 1417px) {
  .n-company__bottom {
    justify-content: space-between;
    gap: 20px;
  }
  .n-program-two {
    margin: 0;
  }
}
@media (max-width: 1050px) {
  .n-company__bottom {
    justify-content: space-around;
  }
  .n-company__bottom-centr {
    width: fit-content;
    height: fit-content;
    border-radius: 0;
    box-shadow: none;
    padding-left: 0;
  }
  .n-program-two {
    display: none;
  }
}
@media (max-width: 870px) {
  .n-company__container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .n-company__bottom-item {
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  .n-company__bottom {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .n-company__bottom-item br {
    display: none;
  }
  .n-company__bottom-item p {
    width: 200px;
  }
  .n-company__container {
    gap: 30px;
  }
}
